<!DOCTYPE html>
<html>
   <body><center>
	<table cellspacing = "10">
		<tr>
				<form action = "{{ url_for('show_all') }}" >
						<input type = "submit" value = "Show List" />
				</form>
				<form action = "{{ url_for('add') }}">
						<input type = "submit" value = "Add/Transfer" />
				</form>
				<form action = "{{ url_for('use') }}">
						<input type = "submit" value = "Deduct" />
				</form>
				<form action = "{{ url_for('logout') }}"><input type = "submit" value = "Logout" /></form>
            </tr>
			</table>
      <h3>Transfer Amount</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "person">Transfer By</label><br>
		 <input list="person" name="name" placeholder = "Person name"><br>
            <datalist id="name">
              <option value="Tomba">Tomba</option>
              <option value="Tombi">Tombi</option>
             </datalist><br>
         <label for = "tra">Transfer Amount</label><br>
		 <input type = "text" name = "tra" placeholder = "amount" /><br>
         <label for = "reason">Reason</label><br>
         <textarea name = "bal" placeholder = "reason"></textarea><br>
		 <label for = "date">Date</label><br>
         <input type = "date" name = "date" placeholder = "date" /><br>
         
         <input type = "submit" value = "Submit" />
      </form>
     </center> 
   </body>
</html>