{% extends "base.html" %}
{% block content %}
<h1>This website is design by Sajina for her computer course</h1>
<h2>Contact me if you want to join in for this project in my contact no. 883700..</h2>
<h3>Please login</h3>
<br>
<form action="" method="post">
  <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
  <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
  <input class="btn btn-default" type="submit" value="Login">
</form>

{% endblock %}