<!DOCTYPE html>
<html lang = "en">
   <head>
   <center><h2> Tomba Tombi Money Detail</h2></center>
   </head>
   <body><center>
	<table cellspacing = "10">
		<tr>
				<form action = "{{ url_for('show_all') }}" >
						<input type = "submit" value = "Show List" />
				</form>
				<form action = "{{ url_for('add') }}">
						<input type = "submit" value = "Add/Transfer" />
				</form>
				<form action = "{{ url_for('use') }}">
						<input type = "submit" value = "Deduct" />
				</form>
				<form action = "{{ url_for('logout') }}"><input type = "submit" value = "Logout" /></form>
            </tr>
			</table>
      
				         
      <table border = "1" bgcolor = "gray" cellpadding = "5" cellspacing = "5">
         <thead>
            <tr>
               <td>Date  </td>
			   <td>Name  </td>
               <td>Used</td>
               <td>Reason</td>
               <td>Transfer</td>
			   <td>Bal</td>
			   
            </tr>
         </thead>
         
         <tbody>
            {% for student in students %}
               <tr>
                  <td>{{ student.date }}</td>
				  <td>{{ student.name }}</td>
                  <td>{{ student.city }}</td>
                  <td>{{ student.addr }}</td>
                  <td>{{ student.transfer }}</td>
				  <td>{{ student.bal }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table><br>
	  <form action = "{{ url_for('logout') }}">Click <input type = "submit" value = "Here" /> to logout</form> 
   </center>
   </body>
</html>